@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

body {
  color: white;
  font-family: 'Charmonman', cursive;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#logout{
  position: fixed;
  color: white;
  right:0;
  top: 0;
  background: grey;
}
.up{
  position: fixed;
  bottom: 10px; 
  font-size: 20px;
  left:0;
  right:0;
  margin:auto;
  border-radius: 50px;
  border-style: solid;
  border-width: 0.8px;
  width: 50px;
  cursor: pointer;
}
.up:hover{
  border-color: grey;
}