@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

.bar {
  font-family: 'Charmonman', cursive;
  display: flex;
  width: 100%;

  justify-content: start;
}
.bar a {
  text-decoration: none;
  font-weight: bold;
}
